.login_form {
  width: 80%;
}

.form_label {
  font-family: arial;
  font-size: small;
  color: rgb(92, 180, 231);
}

.form_input {
  width: 100%;
  margin: 0px 0px 20px 0px;
  padding: 5px 0px 5px 0px;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-bottom: 2px solid rgb(92, 180, 231);
}

.main_login {
  display: flex;
  justify-content: center;
}

.container_login {
  width: 60%;
  display: flex;
  padding: 30px 0px 20px 0px;
}

.main_text {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.main_text h1 {
  font-family: arial;
  margin-bottom: 20px;
  letter-spacing: 0.1rem;
}

.main_text h5 {
  font-family: arial;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.cta_button {
  width: 100%;
  background-color: #c90c63f2;
  color: white;
  border: none;
  padding: 10px;
}
